{% extends 'base.html' %}
{% block content %}

    <h2>User Details</h2>

    <div name="user_details">
      Email: {{ user.email }} <br>
      Age: {{ user.age }} <br>
      Zipcode: {{ user.zipcode }} <br>
    </div>
    <div name="scored_movies">
    <ul>
      {% for title, score, movie_id in user_movies %}
        <li>
            <a href="/movie_details/{{ movie_id }}">
              
              {{ title }} ({{ score }})
             
            </a>
        </li>
      {% endfor %}
    </ul>
    </div>

{% endblock %}